.newtech-banner {
  min-width: 100%;
  //   height: 380px;
  aspect-ratio: 144/38;
  background-image: url("../images/banner-01/banner_01_bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all ease-in-out 200ms;
}
.banner-01-controller-container {
  height: 100%;
  background-image: url("../images/banner-01/banner_01_controller_bg.svg");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-01-controller {
  height: 100%;
}
.banner-01-texts-container {
  height: 100%;
}
.banner-01-black-friday {
  //   font-size: 64px;
  color: var(--secondary-color);
  font-weight: 600;
  text-transform: capitalize;
}
.banner-01-discount {
  //   font-size: 40px;
  font-weight: 500;
  color: var(--secondary-color);
  text-transform: uppercase;
}
.banner-01-sale-btn {
  //   width: 140px;
  //   height: 70px;
  background-color: var(--primary-color);
  color: var(--secondary-color) !important;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all ease-in-out 200ms;
  &:hover {
    background-color: hsl(247, 73%, 69%) !important;
  }
}
.banner-position-indicator {
  width: 60px;
  //   width: max-content;
  height: max-content;
  bottom: 10px;
}
.banner-indicator {
  width: 15px !important;
  aspect-ratio: 1/1;
  border: 3px solid var(--secondary-color);
  cursor: pointer;
}
.active-banner-indicator {
  background-color: var(--secondary-color);
}
.banner-pause-btn-container {
  bottom: 10px;
  right: 20px;
  cursor: pointer;
}
.banner-pause-icon {
  font-size: 30px;
  color: var(--secondary-color);
  transition: all ease-in-out 200ms;
  &:hover {
    scale: 1.1;
  }
}
