.bottom-banner-container {
  aspect-ratio: 144/38;
  background-image: url("../images/bottom_banner/bottom_banner_bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bottom-banner-topic {
  color: var(--secondary-color);
}
.brand-logo {
  width: 100%;
  transition: all ease-in-out 200ms;
  &:hover {
    scale: 1.1;
  }
}
