.categories-sub-container {
  height: 50px;
}
.category-link {
  width: max-content;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  color: #575757;
  transition: all ease-in-out 200ms;
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    top: 100%;
    left: 0;
    transition: all ease-in-out 200ms;
  }
  &:hover {
    color: var(--primary-color);
    &::after {
      width: 100%;
    }
  }
}
.more-category-link {
  cursor: pointer;
  &:hover {
    .more-categories-dropdown {
      display: flex !important;
    }
  }
}
.more-categories-dropdown {
  width: max-content;
  height: auto;
  top: 110%;
  //   left: 50%;
  //   transform: translateY(-50%);
  right: 0;
  z-index: 100;
  //   padding: 30px 50px;
  background-color: white;
}
