@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  --primary-color: #5a49e3;
  --secondary-color: #ffffff;
  --light-primary-color: hsl(247, 73%, 75%);
  --black: rgb(22, 22, 22);
  --grey-text-color: #808080;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}

/* -------------------------------------------------------------------------- */
/*                                   navbar                                   */
/* -------------------------------------------------------------------------- */
.newtech-navbar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(87, 87, 87, 0.15);
  left: 0;
  top: 100%;
}

.newtech-navbar-sub {
  height: 80px;
}

.newtech-logo-container {
  height: 100%;
}

.newtech-logo {
  width: 80%;
}

.newtech-nav-links {
  height: 100%;
}

.newtech-nav-link {
  text-decoration: none;
  color: #575757;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  transition: all ease-in-out 200ms;
}
.newtech-nav-link:hover {
  color: var(--primary-color);
}

.nav-link-divider {
  height: 20%;
  width: 2px;
  background-color: rgba(87, 87, 87, 0.7137254902);
}

.newtech-navbar-icon {
  font-size: 25px;
  color: var(--primary-color);
  transition: all ease-in-out 200ms;
}
.newtech-navbar-icon:hover {
  scale: 1.1;
}

.hamburger-menu {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.ham-bar {
  height: 4px;
  border-radius: 5px;
  background-color: var(--primary-color);
}

.newtech-hamburger-icon {
  scale: 1 !important;
}

@media (max-width: 992px) {
  .newtech-logo {
    width: 100%;
  }
}
/* -------------------------------------------------------------------------- */
/*                                   navbar                                   */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                 categories                                 */
/* -------------------------------------------------------------------------- */
.categories-sub-container {
  height: 50px;
}

.category-link {
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  color: #575757;
  transition: all ease-in-out 200ms;
}
.category-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  top: 100%;
  left: 0;
  transition: all ease-in-out 200ms;
}
.category-link:hover {
  color: var(--primary-color);
}
.category-link:hover::after {
  width: 100%;
}

.more-category-link {
  cursor: pointer;
}
.more-category-link:hover .more-categories-dropdown {
  display: flex !important;
}

.more-categories-dropdown {
  width: -moz-max-content;
  width: max-content;
  height: auto;
  top: 110%;
  right: 0;
  z-index: 100;
  background-color: white;
}

/* -------------------------------------------------------------------------- */
/*                                 categories                                 */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                 top banner                                 */
/* -------------------------------------------------------------------------- */
.newtech-banner {
  min-width: 100%;
  aspect-ratio: 144/38;
  background-image: url("../images/banner-01/banner_01_bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all ease-in-out 200ms;
}

.banner-01-controller-container {
  height: 100%;
  background-image: url("../images/banner-01/banner_01_controller_bg.svg");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-01-controller {
  height: 100%;
}

.banner-01-texts-container {
  height: 100%;
}

.banner-01-black-friday {
  font-size: 4rem;
  color: var(--secondary-color);
  font-weight: 600;
  text-transform: capitalize;
}

.banner-01-discount {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--secondary-color);
  text-transform: uppercase;
}

.banner-01-sale-btn {
  width: -moz-max-content;
  width: max-content;
  height: auto;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 2rem;
  font-weight: 500;
  border: none;
  padding: 5px 15px;
  text-transform: uppercase;
  transition: all ease-in-out 200ms;
}
.banner-01-sale-btn:hover {
  background-color: hsl(247, 73%, 69%);
}

.banner-position-indicator {
  width: 60px;
  height: -moz-max-content;
  height: max-content;
  bottom: 10px;
}

.banner-indicator {
  width: 15px;
  aspect-ratio: 1/1;
  border: 3px solid var(--secondary-color);
  cursor: pointer;
}

.active-banner-indicator {
  background-color: var(--secondary-color);
}

.banner-pause-btn-container {
  bottom: 10px;
  right: 20px;
  cursor: pointer;
}

.banner-pause-icon {
  font-size: 30px;
  color: var(--secondary-color);
  transition: all ease-in-out 200ms;
}
.banner-pause-icon:hover {
  scale: 1.1;
}

@media (max-width: 1200px) {
  .banner-01-black-friday {
    font-size: 3rem;
  }
  .banner-01-discount {
    font-size: 2rem;
  }
}
@media (max-width: 992px) {
  .banner-01-black-friday {
    font-size: 2.5rem;
  }
  .banner-01-discount {
    font-size: 1.5rem;
  }
  .banner-01-sale-btn {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .banner-01-black-friday {
    font-size: 2rem;
  }
  .banner-01-discount {
    font-size: 1.2rem;
  }
  .banner-01-sale-btn {
    font-size: 1rem;
  }
  .banner-position-indicator {
    width: 50px;
  }
  .banner-indicator {
    width: 10px;
  }
  .banner-pause-icon {
    font-size: 25px;
  }
}
/* -------------------------------------------------------------------------- */
/*                                 top banner                                 */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                           quick view products row                          */
/* -------------------------------------------------------------------------- */
.newtech-product-link {
  text-decoration: none;
}

.newtech-product-img-container {
  aspect-ratio: 1/1;
  overflow: hidden;
}

.newtech-product-img {
  height: 100%;
}

.see-all-products-link {
  width: -moz-max-content;
  width: max-content;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
.see-all-products-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  top: 100%;
  left: 0;
  transition: all ease-in-out 200ms;
}
.see-all-products-link:hover::after {
  width: 100%;
}

.product-row-topic {
  width: -moz-max-content;
  width: max-content;
}

.product-title {
  font-size: 1rem;
  font-weight: 500;
}

.product-price {
  font-size: 1rem;
  font-weight: 500;
  color: var(--black);
}

.product-discount {
  width: -moz-max-content;
  width: max-content;
  height: auto;
  border-radius: 5px;
  background-color: var(--primary-color);
}

.discount-tag-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 5px 10px;
  color: var(--secondary-color);
}

.discount-amount {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--grey-text-color);
  text-transform: uppercase;
}

.quick-products-row {
  overflow-x: hidden;
}

.quick-products-scroll-btn {
  width: -moz-max-content;
  width: max-content;
  aspect-ratio: 1/1;
  border: none;
  z-index: 100;
  background-color: var(--light-primary-color);
  color: var(--secondary-color);
  font-size: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all ease-in-out 200ms;
}

.quick-products-scroll-btn-left {
  left: 0;
}

.quick-products-scroll-btn-right {
  right: 0;
}

.quick-products-scroll-btn-active {
  background-color: var(--primary-color);
}

.scroller {
  transition: all ease-in-out 500ms;
}

/* -------------------------------------------------------------------------- */
/*                           quick view products row                          */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                bottom banner                               */
/* -------------------------------------------------------------------------- */
.bottom-banner-container {
  aspect-ratio: 144/38;
  background-image: url("../images/bottom_banner/bottom_banner_bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bottom-banner-topic {
  font-size: 2rem;
  color: var(--secondary-color);
}

.brand-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-logo {
  width: 100%;
  transition: all ease-in-out 200ms;
}
.brand-logo:hover {
  scale: 1.1;
}

@media (max-width: 992px) {
  .bottom-banner-topic {
    font-size: 1.6rem;
    color: var(--secondary-color);
  }
  .brand-logo {
    width: 75%;
  }
}
/* -------------------------------------------------------------------------- */
/*                                bottom banner                               */
/* -------------------------------------------------------------------------- */
.footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(87, 87, 87, 0.15);
  left: 0;
  top: 0;
}

.footer-link-topic {
  color: rgba(0, 0, 0, 0.7);
}

.footer-link {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
.footer-link:hover {
  color: rgba(90, 73, 227, 0.6);
}

.footer-copyright-text {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.9rem;
}

.account-register-container::before {
  content: "";
  margin: 0;
  padding: 0;
  position: absolute;
  height: 80%;
  width: 2px;
  background-color: var(--primary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.account-page-topic {
  font-weight: 500;
}

.newtech-detail-input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  padding-left: 10px;
  border: 1px solid rgba(182, 182, 182, 0.5411764706);
  background-color: var(--secondary-color);
  transition: all ease-in-out 200ms;
}
.newtech-detail-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.35);
}
.newtech-detail-input::placeholder {
  color: rgba(0, 0, 0, 0.35);
}
.newtech-detail-input:focus {
  outline: 1px solid var(--primary-color);
}
.newtech-detail-input::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  background-color: red;
  top: 0;
  left: 0;
}

.newtech-label {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
}

.create-account-btn {
  width: 100%;
  min-height: 40px;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 500;
}

.go-to-signin {
  font-size: 15px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
}

.go-to-signin-link {
  color: var(--primary-color);
}

.register-divider {
  background-color: #ffffff;
}

.register-divider-text {
  font-size: 14px;
  font-weight: 500;
}

.social-btn {
  aspect-ratio: 6/1;
  border-radius: 50px;
  border: 3px solid var(--primary-color);
  cursor: pointer;
}

.social-login-logo-container {
  height: 100%;
}

.social-login-logo {
  height: 60%;
}

.facebook-login {
  background-color: #3d5a98;
  border: none;
}

.facebook-login-text {
  color: white;
}

.register-footer-link {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 992px) {
  .account-register-container::before {
    display: none;
  }
}
.forgot-password-link {
  font-size: 14px;
  color: var(--primary-color);
}

.input-section::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(87, 87, 87, 0.15);
  left: 0;
  top: 100%;
}

.input-section-title {
  text-transform: uppercase;
}

.main-product-img-uploader {
  display: none;
}

.main-product-img-uploader-custom {
  width: 100%;
  height: 150px;
  border: 2px dotted rgba(182, 182, 182, 0.5411764706);
  background-color: var(--secondary-color);
}

.img-upload-icon {
  color: rgba(0, 0, 0, 0.35);
  font-size: 20px;
}

.img-upload-text {
  color: rgba(0, 0, 0, 0.35);
}

.listing-input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  padding-left: 10px;
  border: 1px solid rgba(182, 182, 182, 0.5411764706);
  background-color: var(--secondary-color);
  transition: all ease-in-out 200ms;
}
.listing-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.35);
}
.listing-input::placeholder {
  color: rgba(0, 0, 0, 0.35);
}
.listing-input:focus {
  outline: 1px solid var(--primary-color);
}

.product-color {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-wrap: nowrap;
}
.product-color label {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.product-description {
  height: 300px;
  padding-top: 10px;
}

.listing-page-btn {
  width: 100%;
  height: 50px;
  border: none;
  font-size: 18px;
  transition: all ease-in-out 200ms;
}

.list-btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.list-btn:hover {
  background-color: hsl(247, 73%, 69%);
}

.save-later-btn {
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.save-later-btn:hover {
  border: 2px solid hsl(247, 73%, 69%);
}

.preview-btn {
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.preview-btn:hover {
  border: 2px solid hsl(247, 73%, 69%);
}

.main-filters-container {
  transition: all ease-in-out 200ms;
}

.filter-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-main-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: all ease-in-out 200ms;
}
.filter-main-bar:hover {
  background-color: var(--secondary-color);
}
.filter-main-bar:hover .filter-items-section {
  display: block;
}

.filter-arrow-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.filter-name {
  font-size: 16px;
  font-weight: 500;
}

.filter-items-section {
  width: 100%;
  height: auto;
  display: none;
  top: 20px;
  transition: all ease-in-out 200ms;
}

.filter-option-container {
  display: flex;
  flex-wrap: nowrap;
}

.filter-option {
  font-size: 14px;
}

.toggle-options {
  display: block !important;
}

.min-max-price-input {
  width: 100%;
  height: 30px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  padding-left: 10px;
  border: 1px solid rgba(182, 182, 182, 0.5411764706);
  background-color: var(--secondary-color);
  transition: all ease-in-out 200ms;
}
.min-max-price-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.35);
}
.min-max-price-input::placeholder {
  color: rgba(0, 0, 0, 0.35);
}
.min-max-price-input:focus {
  outline: 1px solid var(--primary-color);
}

/* -------------------------------------------------------------------------- */
/*                                products view                               */
/* -------------------------------------------------------------------------- */
.main-products-container {
  border: 1px solid rgba(87, 87, 87, 0.15);
}

.sort-input-label {
  font-size: 13px;
}

.sort-input {
  font-size: 13px;
  width: -moz-max-content;
  width: max-content;
  height: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  padding-left: 10px;
  border: 1px solid rgba(182, 182, 182, 0.5411764706);
  background-color: var(--secondary-color);
  transition: all ease-in-out 200ms;
}
.sort-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.35);
}
.sort-input::placeholder {
  color: rgba(0, 0, 0, 0.35);
}
.sort-input:focus {
  outline: 1px solid var(--primary-color);
}

.product-layout-btns {
  width: -moz-max-content;
  width: max-content;
}

.product-layout-btn {
  width: 35px;
  height: 25px;
  background-color: transparent;
  font-size: 16px;
  color: white;
  border: none;
  background-color: var(--secondary-color);
  color: black;
}

.active-layout {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.product-container {
  display: flex;
  align-items: flex-start;
  border-top: 1px solid rgba(87, 87, 87, 0.15);
  border-bottom: 1px solid rgba(87, 87, 87, 0.15);
  border-width: 50%;
}

.product-img-container {
  aspect-ratio: 1/1;
  overflow-y: hidden;
  position: relative;
}

.product-img {
  width: 100%;
}

.product-favourite-btn {
  width: -moz-max-content;
  width: max-content;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--secondary-color);
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all ease-in-out 100ms;
  cursor: pointer;
}

.product-favourite-icon {
  font-size: 18px;
  color: var(--primary-color);
  padding: 5px;
}

.product-favourite-active {
  scale: 1.1;
}

.product-name {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.product-subtitle {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

.product-condition {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

.review-star {
  font-size: 13px;
  color: #daa520;
}

.product-review-link {
  text-decoration: none;
  width: -moz-max-content;
  width: max-content;
}

.discount-container {
  display: flex;
  flex-wrap: nowrap;
}

.discount-price {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  margin-right: 1rem;
}

.discount-percentage {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

.buying-format {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

.shipping-cost {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

.current-location {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

.sales-amount {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
  margin: 0;
}

.product-name-link {
  text-decoration: none;
  color: #212529;
}

.layout-grid .product-name {
  font-size: 14px;
}
.layout-grid .product-subtitle {
  font-size: 14px;
}
.layout-grid .product-condition {
  font-size: 14px;
}
.layout-grid .review-star {
  font-size: 12px;
}
.layout-grid .discount-price {
  font-size: 13px;
}
.layout-grid .discount-percentage {
  font-size: 13px;
}
.layout-grid .buying-format {
  font-size: 13px;
}
.layout-grid .shipping-cost {
  font-size: 13px;
}
.layout-grid .current-location {
  font-size: 13px;
}
.layout-grid .sales-amount {
  font-size: 13px;
}
.layout-grid .quick-product-price {
  font-size: 18px;
}

.advanced-search-link {
  color: var(--primary-color);
  font-size: 15px;
}

@media (max-width: 992px) {
  .main-filters-container {
    position: absolute;
    top: 0;
    left: -200%;
    background-color: #efefef;
    z-index: 100;
    box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.1);
  }
  .main-filter-show {
    left: 0 !important;
  }
}
.expand-filter-btn {
  background-color: var(--secondary-color-color);
  border: none;
  width: -moz-max-content;
  width: max-content;
  height: auto;
}

.expand-filter-icon {
  font-size: 30px;
  color: var(--primary-color);
}

.listed-category {
  font-size: 12px;
}

.single-product-image-container {
  aspect-ratio: 1/1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-product-image {
  width: 100%;
  display: none;
}

.single-product-image-selector {
  aspect-ratio: 1/1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-product-image-selector-img {
  height: 100%;
}

.displayed-img {
  display: block !important;
}

.active-selector {
  border: 2px solid var(--primary-color);
}

.single-product-subtitle {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.single-product-topic-container {
  border-bottom: 1px solid rgba(87, 87, 87, 0.15);
}

.product-grey-text {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.reviews-count-link {
  color: var(--primary-color);
  font-size: 15px;
}

.single-product-price-details-container {
  border-bottom: 1px solid rgba(87, 87, 87, 0.15);
}

.single-product-price {
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
}

.single-product-qty-text {
  font-size: 14px;
  font-weight: 500;
}

.single-product-qty-input {
  width: 70px;
  height: 30px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  padding-left: 10px;
  border: 1px solid rgba(182, 182, 182, 0.5411764706);
  background-color: var(--secondary-color);
  transition: all ease-in-out 200ms;
}
.single-product-qty-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.35);
}
.single-product-qty-input::placeholder {
  color: rgba(0, 0, 0, 0.35);
}
.single-product-qty-input:focus {
  outline: 1px solid var(--primary-color);
}

.single-product-action-btn {
  width: 100%;
  padding: 10px 0;
  transition: all ease-in-out 200ms;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
}
.single-product-action-btn:hover {
  border: 2px solid hsl(247, 73%, 69%);
  color: hsl(247, 73%, 69%);
}

.single-product-action-buy {
  width: 100%;
  padding: 10px 0;
  border: none;
  transition: all ease-in-out 200ms;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.single-product-action-buy:hover {
  background-color: hsl(247, 73%, 69%);
}

.specific-details-container {
  background: #efefef;
  box-shadow: 5px 5px 14px #e5e5e5, -5px -5px 14px #f9f9f9;
}

.specific-detail {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.specific-name {
  font-size: 14px;
  color: grey;
}

.specific-value {
  font-size: 14px;
}

.shipping-details-container {
  background: #efefef;
  box-shadow: 5px 5px 14px #e5e5e5, -5px -5px 14px #f9f9f9;
}

.payment-method {
  width: 55px;
  height: 30px;
  border: 2px solid var(--primary-color);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-method-icon {
  width: 90%;
}

.max-review-amount {
  font-size: 30px;
  color: grey;
}

.product-stars {
  color: #daa520;
  font-size: 25px;
}

.rating-count {
  color: grey;
  font-size: 14px;
}

.product-graph-stars {
  color: #daa520;
  font-size: 16px;
}

.rating-graph-bar {
  background-color: rgba(128, 128, 128, 0.226);
  height: 20px;
  position: relative;
}

.rating-graph-bar-filler {
  background-color: #daa520;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.rating-graph-bar-filler-5 {
  width: 100%;
}

.product-graph-stars-odd {
  color: rgba(128, 128, 128, 0.226);
}

.graph-count {
  font-size: 14px;
}

.rating-graph-bar-filler-4 {
  width: 80%;
}

.rating-graph-bar-filler-3 {
  width: 60%;
}

.rating-graph-bar-filler-2 {
  width: 40%;
}

.rating-graph-bar-filler-1 {
  width: 20%;
}

.product-customer-stars {
  color: #daa520;
  font-size: 14px;
}

.customer-name {
  font-size: 14px;
  color: grey;
}

.customer-comment {
  font-size: 16px;
}

.cutomer-review-container {
  border-bottom: 1px solid rgba(182, 182, 182, 0.5411764706);
}

.product-customer-stars-odd {
  color: rgba(128, 128, 128, 0.226);
}

.see-all-reviews-link {
  font-size: 16px;
  color: var(--primary-color);
}

.related-product-img {
  width: 100% !important;
}

.related-products-row {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.related-product-container {
  border-width: 0 1px !important;
  border-color: rgba(87, 87, 87, 0.15) !important;
  border-style: solid !important;
}

.admin-body {
  background-image: url("../images/admin-bg.svg");
  background-size: cover;
  background-position: center;
}

.admin-nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-navbar-btn {
  width: 60%;
  position: relative;
  aspect-ratio: 1/1;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efefef;
  border-radius: 10px;
  transition: all ease-in-out 200ms;
}
.admin-navbar-btn:hover {
  background-color: hsla(247, 73%, 59%, 0.103);
}

.admin-nav-logo {
  width: 90%;
}

.admin-nav-icon {
  font-size: 20px;
  color: var(--primary-color);
}

.admin-navbar-btn-badge {
  position: absolute;
  top: 20%;
  right: 20%;
  width: 10px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: var(--primary-color);
}

.admin-menu-expand-btn {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  transition: all ease-in-out 200ms;
}

.admin-menu-expanded {
  left: 95% !important;
}

.admin-menu-expand-icon {
  font-size: 25px;
  color: var(--primary-color);
}

.admin-collapse-menu-container {
  height: 100vh;
  border-right: 1px solid rgba(87, 87, 87, 0.15);
  position: absolute;
  z-index: 100;
  top: 0;
  left: -200%;
  background: #efefef;
  transition: all ease-in-out 200ms;
}

.admin-collapse-menu-expanded {
  left: 0 !important;
}

.admin-nav-link-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}
.admin-nav-link-container:hover {
  background-color: hsla(247, 73%, 59%, 0.103);
}

.admin-nav-link-text {
  color: var(--primary-color);
}

.admin-nav-link {
  text-decoration: none;
  color: var(--primary-color);
}

.admin-nav-link-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-nav-link-icon {
  color: var(--primary-color);
  font-size: 20px;
}

.earning-starts-title {
  text-transform: uppercase;
}

.earning-starts-link {
  text-decoration: none;
}

.earning-starts-link-icon {
  font-size: 25px;
  color: var(--primary-color);
}

.top-countries-title {
  text-transform: uppercase;
}

.top-countries-link {
  text-decoration: none;
}

.top-countries-link-icon {
  font-size: 25px;
  color: var(--primary-color);
}

.stat-icon-container {
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.stat-icon-container-networth {
  background-color: #e6ebe5;
}

.stat-icon {
  font-size: 25px;
}

.stat-icon-networth {
  color: #568827;
}

.stat-title {
  font-size: 14px;
  color: grey;
  text-transform: uppercase;
}

.stat-value {
  font-size: 25px;
  font-weight: 500;
}

.earning-stat-container {
  border-radius: 5px;
  background: #efefef;
  box-shadow: 5px 5px 10px #d2d2d2, -5px -5px 10px #ffffff;
}

.stat-icon-container-earning {
  background-color: #f7defb;
}

.stat-icon-earning {
  color: #f238e1;
}

.stat-icon-container-returning {
  background-color: #dff8ff;
}

.stat-icon-returning {
  color: #06889e;
}

.stat-icon-container-netprofit {
  background-color: #e9e6f9;
}

.stat-icon-netprofit {
  color: #604dc1;
}

.stat-icon-container-total-profit {
  background-color: #f5fefd;
}

.stat-icon-total-profit {
  color: #00d4e2;
}

.stat-icon-container-total-expenses {
  background-color: #fcf0fc;
}

.stat-icon-total-expenses {
  color: #ef00d8;
}

.top-country-container {
  position: relative;
  aspect-ratio: 7/1;
  border-radius: 10px;
  background: #efefef;
  box-shadow: 5px 5px 10px #d2d2d2, -5px -5px 10px #ffffff;
  border: 2px solid white;
  padding: 10px 0;
  background-position: center;
  background-size: cover;
}
.top-country-container::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.459);
}

.top-country-name {
  z-index: 2;
}

.top-country-percentage {
  z-index: 2;
}

.us-container {
  background-image: url("../images/flags/Flag-United-States-of-America.webp");
}

.uk-container {
  background-image: url("../images/flags/Flag_of_the_United_Kingdom_(1-2).svg.webp");
}

.lk-container {
  background-image: url("../images/flags/Flag_of_Sri_Lanka.svg.png");
}

.india-container {
  background-image: url("../images/flags/Flag_of_India.svg");
}

.top-selling-product-container {
  aspect-ratio: 1/1;
  background-image: url("../images/product_01/img-01.jpg");
  background-size: contain;
  background-position: center;
  background-blend-mode: darken;
}

.top-selling-products-view-count-container {
  background-color: black;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.top-selling-products-view-count {
  font-weight: 500;
}

.top-selling-products-view-count-icon {
  font-size: 20px;
  color: white;
}

.user-details-indicator-box {
  border: 1px solid rgba(87, 87, 87, 0.15);
  border-radius: 10px;
}

.users-indicator-icon-container {
  width: 30px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgba(87, 87, 87, 0.15);
}

.user-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-img-container {
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-img {
  width: 100%;
}

.user-email {
  font-size: 14px;
  color: grey;
}

.status-badge {
  font-size: 10px;
}

.status-badge-active {
  color: green;
}

.spent-text {
  font-size: 14px;
  color: grey;
}

.user-tier-icon {
  font-size: 14px;
}

.user-tier-icon-gold {
  color: goldenrod;
}

.user-manage-icon {
  color: black;
  text-decoration: none;
  font-size: 20px;
  transition: all ease-in-out 200ms;
}
.user-manage-icon:hover {
  color: var(--primary-color);
}

.see-all-users-link {
  color: var(--primary-color);
}

.account-register-container-admin::before {
  display: none !important;
}

.advanced-search-menu {
  cursor: pointer;
  transition: all ease-in-out 200ms;
}
.advanced-search-menu:hover {
  background-color: var(--primary-color);
  color: white;
}

.advanced-search-menu-active {
  background-color: var(--primary-color);
  color: white;
}

.advanced-search-inputs-title-container {
  border-bottom: 1px solid rgba(87, 87, 87, 0.15);
}

.advanced-search-input {
  height: 40px;
  background-color: var(--secondary-color);
  border: 1px solid rgba(87, 87, 87, 0.15);
  padding-left: 10px;
  font-size: 15px;
  transition: all ease-in-out 200ms;
}
.advanced-search-input:focus {
  outline: 1px solid var(--primary-color);
}

.advanced-search-label {
  font-size: 15px;
}

.advanced-search-btn {
  width: -moz-max-content;
  width: max-content;
  height: 40px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 5px 20px;
}

.delete-all-cart-btn {
  width: -moz-max-content;
  width: max-content;
  height: auto;
  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 20px;
  padding: 5px 10px;
}

.cart-product-container {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgba(87, 87, 87, 0.15);
  border-bottom: 1px solid rgba(87, 87, 87, 0.15);
}

.cart-product-img-container {
  width: 150px;
  aspect-ratio: 1/1;
}

.cart-product-img {
  width: 100%;
}

.cart-product-name {
  font-size: 15px;
}

.cart-product-details {
  font-size: 14px;
  color: grey;
}

.cart-product-price {
  color: var(--primary-color);
  font-size: 20px;
}

.cart-product-delete-btn {
  width: -moz-max-content;
  width: max-content;
  height: auto;
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: grey;
  transition: all ease-in-out 200ms;
}
.cart-product-delete-btn:hover {
  color: rgb(61, 60, 60);
}

.cart-qty-btn {
  width: -moz-max-content;
  width: max-content;
  height: auto;
  border: none;
  background-color: var(--primary-color);
  font-size: 25px;
  color: var(--secondary-color);
  transition: all ease-in-out 200ms;
}

.cart-order-summary {
  border-left: 1px solid rgba(87, 87, 87, 0.15);
  border-right: 1px solid rgba(87, 87, 87, 0.15);
}

.cart-order-summary-subtitle {
  font-size: 15px;
  color: grey;
}

.vaucher-input {
  border: none;
  background-color: var(--secondary-color);
  padding-left: 10px;
}
.vaucher-input:focus {
  outline: 1px solid var(--primary-color);
}

.vaucher-btn {
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.checkout-btn {
  height: 40px;
  font-size: 16px;
  border: none;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}/*# sourceMappingURL=style.css.map */